<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect from Azure Websites" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^spottedzebra.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="http://www.spottedzebrasoftware.com/{R:1}" />
        </rule>
        <rule name="Redirect from Azure Websites 2" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^spottedzebraus.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="http://www.spottedzebrasoftware.com/{R:1}" />
        </rule>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^spottedzebrasoftware\.com$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="http://www.spottedzebrasoftware.com/{R:1}" />
        </rule>
        <rule name="Redirct app/adlib" stopProcessing="true">
          <match url="^.*app/adlib.*$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="adlib.html" />
        </rule>
        <rule name="Redirect adlib.htmlstore" stopProcessing="true">
          <match url="^.*adlib.htmlstore$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="adlib.html" />
        </rule>
        <rule name="Redirct app/petunk" stopProcessing="true">
          <match url="^.*app/petunk.*$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="petunk.html" />
        </rule>
        <rule name="Redirct app/scramblelegends" stopProcessing="true">
          <match url="^.*app/scramble-?legends.*$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="scramble-legends.html" />
        </rule>
        <rule name="Redirect to HTML" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="404" />
      <error statusCode="404" prefixLanguageFilePath="" path="404.html" />
    </httpErrors>
  </system.webServer>
</configuration>
