<div class="continue-reading">
{% if start-reading %}
    <header>Read the "Making of Adlib" series:</header>
{% else %}
    <header>Keep reading the "Making of Adlib" series:</header>
{% endif %}
    <ol>
        <li><a href="http://www.anotherearlymorning.com/2009/08/introducing-adlib-a-first-look/">Introducing Adlib</a>: a first look at the game</li>
        <li><a href="http://www.anotherearlymorning.com/2009/06/trie-data-structure-in-actionscript-3/">Trie Data Structure</a>: a technical post about Adlib's core algorithm</li>
        <li><a href="http://www.anotherearlymorning.com/2009/08/adlibs-story/">Adlib's Story</a>: learn about game's backstory</li>
        <li><a href="http://www.anotherearlymorning.com/2009/08/elements-of-progression-in-games/">Gameplay Progression</a>: ruminations on game design and Adlib</li>
        <li><a href="http://www.anotherearlymorning.com/2009/08/designing-adlibs-gameplay/">Designing Adlib</a>: an in-depth look at Adlib's gameplay</li>
    </ol>
</div>