<div class="about-the-author">
    <img src="{{ site.baseurl }}/img/authors/alex-schearer.jpg" />
    <header>Alex Schearer / <span class="title">founder</span></header>
    <p>
        I studied at Duke University, was a senior engineer at Microsoft, 
        and have shipped several award winning games.
    </p>
    <p>
        Outside work I enjoy reading from the Seattle Public Library, hiking in the Pacific
        Northwest, and trying out new recipes at home.
        <a href="{{ site.baseurl }}/about">Drop me a line and let's connect.</a>
    </p>
    <div class="clear"></div>
</div>