<div class="about-the-author">
    <img src="{{ site.baseurl }}/img/authors/kyle-mcgill.jpg" />
    <header>Kyle McGill / <span class="title">artist</span></header>
    <p>
        I've been drawing since I was four and love it so much I went to college to 
        get a BS in Media Arts. My main passion is art, illustration, and all that lies 
        in between. I'm always learning more about my craft as a creator in the entertainment 
        and game dev industries. Want to know more? 
        <a href="http://ktmportfolio.tumblr.com/">Check out my work and let's connect.</a>
    </p>
    <div class="clear"></div>
</div>