<div class="about-the-author">
    <img src="{{ site.baseurl }}/img/authors/david-kizale.jpg" />
    <header>David Kizale / <span class="title">sound designer</span></header>
    <p>
        What I love most about game audio is that it’s a perfect 
        synthesis of left and right brained activities. I'm 
        self-driven and always looking to build a better audio 
        mouse-trap – then tear it down after we ship a game 
        and rebuild it with my colleagues so it's even better 
        on the next one. 
        <a href="http://www.davidkizale.com/">Check out my work and let's connect.</a>
    </p>
    <div class="clear"></div>
</div>