{% if site.theme_settings.katex %}
<script src="{{ "/js/katex_init.js" | prepend: site.baseurl }}"></script>
{% endif %}

{% if site.theme_settings.footer_text %}
<footer class="site-footer">
    <span class="text">{{ site.theme_settings.footer_text }}</span>
    {% if site.theme_settings.twitter %}
    &bull;
    <a href="https://twitter.com/{{site.theme_settings.twitter}}">Twitter</a>
    {% endif %}
    {% if site.theme_settings.facebook %}
    &bull;
    <a href="https://facebook.com/{{site.theme_settings.facebook}}">Facebook</a>
    {% endif %}
</footer>
{% endif %}
