<div class="continue-reading">
{% if start-reading %}
    <header>Read the "Making of Petunk" series:</header>
{% else %}
    <header>Keep reading the "Making of Petunk" series:</header>
{% endif %}
    <ol>
        <li><a href="http://www.anotherearlymorning.com/2010/07/petunk-week-1-finding-a-game-idea//">Finding a game idea</a>: the game's genesis</li>
        <li><a href="http://www.anotherearlymorning.com/2010/07/petunk-week-2-creating-a-distinctive-look//">Creating a Distinctive Look</a>: how and why Petunk is made from construction paper</li>
        <li><a href="http://www.anotherearlymorning.com/2010/07/staying-motivated-in-game-development/">Staying Motivated</a>: how to eat a whale</li>
        <li><a href="http://www.anotherearlymorning.com/2010/07/create-great-looking-game-artwork-using-paper//">Creating Petunk's Artwork</a>: the process behind the game's artwork</li>
        <li><a href="http://www.anotherearlymorning.com/2010/07/petunk-week-3-putting-it-all-together/">Putting it All Together</a>: from conception to a vertical slice</li>
        <li><a href="http://www.anotherearlymorning.com/2010/07/creating-a-paper-like-look-in-photoshop/">Creating a Paper-like Look in Photoshop</a>: how I sped up Petunk's art creation</li>
        <li><a href="http://www.anotherearlymorning.com/2010/07/petunk-week-4-crossing-the-finish-line/">Crossing the Finish Line</a>: a look back on the game's development</li>
    </ol>
</div>