<div class="continue-reading">
    <header>Keep reading the "Making of Scramble Legends" series:</header>
    <ol>
        <li><a href="{%post_url 2013-04-15-Scramble Legends User Interface%}">User Interface</a>: a look at how the user interface was designed</li>
        <li><a href="{%post_url 2013-04-17-Scramble Legends Avatar Style%}">Avatar Style</a>: follow the evolution of Scramble Legends' art style</li>
        <li><a href="{%post_url 2013-04-19-Home Brewed Avatars%}">Making the Avatars</a>: guest post by Kyle McGill artist for Scramble Legends</li>
        <li><a href="{%post_url 2013-04-22-Scramble Legends Avatar Design%}">Avatar Design</a>: learn how the avatar art style was finalized</li>
        <li><a href="{%post_url 2013-04-24-Scramble Legends Game Over%}">End Game Condition</a>: explore the thought process behind the game's end game condition</li>
        <li><a href="{%post_url 2013-04-29-Scramble Legends Attacks%}">Attack Design</a>: understand why Scramble Legends is all about burying your opponent</li>
        <li><a href="{%post_url 2013-05-03-Scramble Legends Overdrive Mode%}">Overdrive Mode</a>: a look at the design and technical considerations behind this special game mode</li>
        <li><a href="{%post_url 2013-05-15-Scramble Legends Sound Design%}">Sound Design</a>: guest post by David Kizale sound designer for Scramble Legends</li>
    </ol>
</div>