<div class="continue-reading">
    <header>Continue reading my series analyzing the business prospects of different game ideas:</header>
    <ol>
        <li><a href="{%post_url blog/2017-01-01-Should_I-Make_Downhill_Biking_Simulator%}">Downhill Biking Simulator</a>: Race mountain bikes down mountains.</li>
        <li><a href="{%post_url blog/2017-01-04-Should_I-Make_Letter_Flipping_Word_Game%}">Letter Flipping Word Game</a>: Spell words by swapping letters left and right.</li>
        <li><a href="{%post_url blog/2017-01-09-Should_I-Make_Sokoban_Game%}">Sokoban Style Game with a Twist</a>: A unique puzzle game based on a familiar concept.</li>
    </ol>
</div>
