<div class="continue-reading">
    <header>Continue reading my series analyzing the business prospects of different game ideas:</header>
    <ol>
        <li><a href="{%post_url blog/2017-05-03-Should_I_Make_Downhill_Biking_Simulator%}">Downhill Biking Simulator</a>: Race mountain bikes down mountains.</li>
        <li><a href="{%post_url blog/2017-05-10-Should_I_Make_Letter_Flipping_Word_Game%}">Letter Flipping Word Game</a>: Spell words by swapping letters left and right.</li>
        <li><a href="{%post_url blog/2017-09-27-New_Game_15_Questions%}">Fifteen Questsions for a New Game</a>: A framework to determine whether a game worth making.</li>
    </ol>
</div>
