<div class="continue-reading">
    <header>Continue reading my series about reducing your Unity game's file size:</header>
    <ol>
        <li><a href="{%post_url blog/2017-10-03-Reducing_Unity_Game_Size_1%}">Part 1</a>: The basic tools available out of the box and how to use them.</li>
        <li><a href="{%post_url blog/2017-10-03-Reducing_Unity_Game_Size_2%}">Part 2</a>: A moderately complex solution appropriate for games on mobile and desktop.</li>
        <li><a href="{%post_url blog/2017-10-03-Reducing_Unity_Game_Size_3%}">Part 3</a>: The nuclear options to reduce file size – Asset Bundles and binary compressed formats.</li>
    </ol>
</div>
