<div class="continue-reading">
    <header>Continue reading my series on making games for Windows 8:</header>
    <ol>
        <li><a href="{%post_url blog/2013-05-06-Writing_a_Windows_8_Game_Loop%}">Writing a Windows 8 Game Loop</a>: Explores three ways to create a game loop</li>
        <li><a href="{%post_url blog/2013-05-08-Windows_8_XAML_or_MonoGame%}">XAML or MonoGame?</a>: Examines the pros and cons for each option</li>
        <li><a href="{%post_url blog/2013-05-10-Azure_Mobile_Services_or_Cloud_Storage%}">Storing Game Data in the Cloud</a>: Azure Mobile Services or Cloud Storage?</li>
        <li><a href="{%post_url blog/2013-05-18-XAML_Sprite_Animation%}">Animating Sprites with XAML</a>: Cover the basics of animation for Windows 8</li>
        <li><a href="{%post_url blog/2013-05-20-XAML_Spritesheet_Animation%}">Animating Spritesheets with XAML</a>: Learn how to render a spritesheet using XAML and C#</li>
        <li><a href="{%post_url blog/2013-05-22-Azure_Mobile_Services_Game_Data%}">Persisting Game Data in Practice</a>: One way to do it and some common pitfalls</li>
        <li><a href="{%post_url blog/2013-05-24-Consistency_and_Azure_Mobile_Services%}">Keeping Game Data Consistent</a>: How to maintain consistency in a NoSQL world</li>
    </ol>
</div>
